.c-item {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0.6);
}

.caption {
  padding-bottom: 450px;

  & h1 {
    font-size: 4rem;
  }

  & p {
    font-size: 2rem;
  }
}

