.login-title {
  font-family: var(--title-font-family);
}

.login-background {
  background-image: url('../../../public/images/colorscheme/rocks.jpeg');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vh;
}