.world-background {
  background-image: url('../../../public/images/swirl.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vh;
}

.page-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 70px;
  color: #3ebea2;
}

.green-btn {
  width: 180px;
  height: fit-content;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #3ebea2;
  border: 1px solid #3ebea2;
}

.green-btn:hover {
  background-color: transparentize($color: #3ebea2, $amount: 0);
  color: white;
}

// Dark Blue Background Color --> #040c29;