.trip-column {
  height: fit-content;
}

.trip-card {
  background-color: #77BDE0;
  font-family: var(--title-font-family);
  font-weight: 400;
  color: #572421;
}

.card-title {
  font-size: 30px;
}

.card-text {
  font-size: 20px;
}

.brown-btn {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--light-brown);
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid var(--light-brown);
}

.brown-btn:hover {
  outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 3px var(--red-brown);
    transition: 0.1s;
}